a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0px;
}

header .header-top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.281);
  display: flex;
  align-items: center;
  padding: 10px 0;
}
header .header-top .followers {
  position: relative;
  cursor: pointer;
}
header .header-top .followers span {
  font-size: 14px;
}
header .header-top .socials {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.288);
  width: 250px;
  top: 38px;
  left: 0px;
  z-index: 4;
  background-color: white;
}
header .header-top .socials ul {
  padding: 0rem;
}
header .header-top .socials ul a {
  color: black;
}
header .header-top .socials ul i {
  margin: 15px;
}
header .header-top .socials ul p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.301);
  margin-bottom: 0px;
}
header .header-top .free-ship {
  font-size: 14px;
}
header .header-top .free-ship a {
  color: red;
}
header .header-top .lang-cur a {
  color: black;
}
header .header-top .open-case {
  margin-left: 25px;
  position: relative;
  cursor: pointer;
  z-index: 3;
}
header .header-top .open-case li {
  font-size: 14px;
  margin-bottom: 10px;
}
header .header-top .open-case .lang {
  border: 1px solid rgba(0, 0, 0, 0.2117647059);
  padding: 10px 60px 0px 10px;
  position: absolute;
  right: 15px;
  background-color: white;
}
header .header-top .open-case .usd-blog {
  border: 1px solid rgba(0, 0, 0, 0.2117647059);
  position: absolute;
  padding: 10px 60px 0px 10px;
  right: 20px;
  background-color: white;
}
header .header-down {
  border-bottom: 1px solid rgba(0, 0, 0, 0.281);
}
header .header-down .icon-logo {
  display: flex;
  align-items: center;
}
header .header-down .icon-logo .fa-bars {
  cursor: pointer;
}
header .header-down .icon-logo .side-bar {
  background-color: white;
  border: 1px solid #ddd;
  padding: 15px 25px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  width: 22%;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  z-index: 1002;
  transition: all 1s;
  overflow-y: scroll;
}
header .header-down .icon-logo .side-bar::-webkit-scrollbar {
  width: 6px;
}
header .header-down .icon-logo .side-bar::-webkit-scrollbar-thumb {
  background-color: gray;
}
header .header-down .icon-logo .side-bar .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
header .header-down .icon-logo .side-bar .head img {
  width: 40%;
}
header .header-down .icon-logo .side-bar .head i {
  background-color: rgba(0, 0, 0, 0.089);
  padding: 5px;
  cursor: pointer;
}
header .header-down .icon-logo .side-bar hr {
  margin: 2rem 0;
}
header .header-down .icon-logo .side-bar p {
  margin-top: 53px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5019607843);
}
header .header-down .icon-logo .side-bar li {
  margin-bottom: 15px;
  cursor: pointer;
}
header .header-down .icon-logo .side-bar li i {
  font-size: 12px;
}
header .header-down .icon-logo .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1001;
}
header .header-down .icon-logo .transit {
  transform: translate(-400px, 0);
}
header .header-down .icon-logo i {
  font-size: 20px;
}
header .header-down .icon-logo .image-logo {
  width: 80%;
  margin-left: 30px;
}
header .header-down .icon-logo .image-logo img {
  width: 80%;
}
header .header-down nav {
  display: flex;
  align-items: center;
}
header .header-down nav .links {
  padding: 30px 0;
}
header .header-down nav a {
  margin-right: 25px;
  font-size: 15px;
  color: black;
  font-weight: 600;
}
header .header-down nav .home {
  position: relative;
}
header .header-down nav .home a {
  display: inline-block;
}
header .header-down nav .home .home-bar {
  border: 1px solid rgba(0, 0, 0, 0.2588235294);
  position: absolute;
  background-color: white;
  width: 230px;
  padding: 20px;
  z-index: 1;
}
header .header-down nav .home .home-bar li {
  margin-bottom: 10px;
}
header .header-down nav .shop {
  position: relative;
}
header .header-down nav .shop .shop-bar {
  border: 1px solid rgba(0, 0, 0, 0.2588235294);
  position: absolute;
  background-color: white;
  width: 1100px !important;
  padding: 5px 0px 5px 15px;
  top: 53px;
  left: -215px;
  z-index: 1;
}
header .header-down nav .shop .shop-bar .list {
  width: 100%;
}
header .header-down nav .shop .shop-bar .list a {
  display: block;
  margin: 15px 0;
  font-size: 12px;
}
header .header-down nav .shop .shop-bar .list a:nth-child(1) {
  font-weight: 700;
}
header .header-down .icons {
  display: flex;
  justify-content: flex-end;
}
header .header-down .icons .search-icon {
  position: relative;
}
header .header-down .icons .search-icon .search-close {
  position: absolute;
  top: 4px;
  left: -8px;
  margin-right: 5px;
}
header .header-down .icons .heart-icon a {
  padding: 30px 0;
}
header .header-down .icons a {
  color: black;
  position: relative;
}
header .header-down .icons a .posution {
  position: absolute;
  font-size: 10px;
  top: 25px;
  right: -6px;
  color: white;
  background-color: red;
  border-radius: 50%;
  padding: 1px 4px;
}
header .header-down .icons div {
  margin-left: 20px;
  font-size: 20px;
}
header .header-down .icons .basket-icon a {
  position: relative;
  padding: 30px 0;
}
header .header-down .icons .basket-icon a .basket-box {
  position: absolute;
  right: 0;
  top: 75px;
  border: 1px solid rgba(0, 0, 0, 0.205);
  background-color: white;
  z-index: 3;
  min-width: 18.75rem;
  max-width: 18.75rem;
  height: 175px;
  text-align: center;
  padding-top: 45px;
}
header .header-down .icons .basket-icon a .basket-box i {
  font-size: 50px;
  color: red;
  margin-bottom: 18px;
}
header .header-down .icons .basket-icon a .basket-box h5 {
  font-size: 14px;
}

.search-page {
  margin-top: 20px;
  height: 100vh;
  background-color: white;
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 109px;
}
.search-page .content {
  display: flex;
  justify-content: space-between;
}
.search-page .content i {
  font-size: 20px;
}
.search-page p {
  color: rgba(0, 0, 0, 0.267);
}
.search-page .search-text {
  position: relative;
  margin: 20px 0;
}
.search-page .search-text input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.274);
  width: 100%;
  outline: none;
}
.search-page .search-text i {
  position: absolute;
  right: 6px;
  top: 3px;
  cursor: pointer;
}

#card-detail .boxs-detail {
  padding: 50px 0px;
  background-color: white;
  width: 100%;
}
#card-detail .boxs-detail .image {
  width: 100%;
}
#card-detail .boxs-detail .image img {
  width: 100%;
}
#card-detail .boxs-detail .text-all {
  width: 100%;
}
#card-detail .boxs-detail .text-all h1 {
  font-size: 1.75rem;
  margin-bottom: 10px;
}
#card-detail .boxs-detail .text-all .stock {
  margin-bottom: 10px;
}
#card-detail .boxs-detail .text-all .stock span {
  color: green;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.045);
  font-size: 14px;
  font-weight: 600;
}
#card-detail .boxs-detail .text-all .card-content {
  font-size: 12px;
}
#card-detail .boxs-detail .text-all .card-content i {
  color: yellow;
}
#card-detail .boxs-detail .text-all .card-content span {
  margin-left: 10px;
  font-weight: 700;
}
#card-detail .boxs-detail .text-all .card-content h6 {
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0;
}
#card-detail .boxs-detail .text-all .card-content p {
  font-size: 0.75rem;
}
#card-detail .boxs-detail .text-all .product-size span {
  color: black;
  padding: 7px 30px;
  line-height: 43px;
  border: 1px solid rgba(0, 0, 0, 0.259);
}
#card-detail .boxs-detail .text-all .add {
  margin-top: 20px;
}
#card-detail .boxs-detail .text-all .add .icons-add {
  padding: 7px 10px;
  border: 1px solid rgba(0, 0, 0, 0.259);
}
#card-detail .boxs-detail .text-all .add .icons-add span {
  margin: 0 15px;
}
#card-detail .boxs-detail .text-all .add .icons-add i {
  font-size: 14px;
}
#card-detail .boxs-detail .text-all .add .add-btn {
  width: 75%;
  margin-left: 5px;
}
#card-detail .boxs-detail .text-all .add .add-btn button {
  width: 100%;
  padding: 7px 0;
  color: white;
  background-color: black;
}
#card-detail .boxs-detail .text-all .guide {
  margin: 20px 0;
}
#card-detail .boxs-detail .text-all .guide .guide-all {
  margin-right: 30px;
}
#card-detail .boxs-detail .text-all .guide .guide-all i {
  margin-right: 5px;
}
#card-detail .boxs-detail .text-all .guide .guide-all span {
  font-size: 14px;
}
#card-detail .boxs-detail .text-all .tags span {
  color: rgba(0, 0, 0, 0.26);
}
#card-detail .boxs-detail .text-all .tags a {
  color: black;
  transition: all 0.5s;
}
#card-detail .boxs-detail .text-all .tags a:hover {
  color: red;
}
#card-detail .detail-right {
  padding-top: 50px;
  width: 100%;
}
#card-detail .detail-right .views-card {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}
#card-detail .detail-right .views-card .img-views {
  width: 30%;
}
#card-detail .detail-right .views-card .img-views img {
  width: 100%;
}
#card-detail .detail-right .views-card .content-views {
  width: 100%;
  margin-left: 20px;
}
#card-detail .detail-right .views-card .content-views h6 {
  font-size: 12px;
}
#card-detail .detail-right .views-card .content-views span {
  font-size: 12px;
  font-weight: 700;
}

#card-description .head-description span {
  font-size: 20px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.24);
  margin-right: 25px;
}
#card-description .head-description span:nth-child(1) {
  color: black;
}

#shop-down .down .products-down {
  margin: 2rem 0 6rem;
}
#shop-down .down .products-down .card-info {
  position: relative;
  overflow: hidden;
}
#shop-down .down .products-down .card-info .basket {
  position: absolute;
  top: 7px;
  right: 12px;
  z-index: 1000;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 50%;
  background-color: white;
  padding: 7px;
  display: none;
  transition: all 0.5s;
}
#shop-down .down .products-down .card-info .basket:hover {
  background-color: red;
  color: white;
}
#shop-down .down .products-down .card-info .card-icon {
  cursor: pointer;
  position: absolute;
  top: 7px;
  right: 12px;
  z-index: 1000;
  transform: translate(58px, 0);
  transition: all 0.8s;
}
#shop-down .down .products-down .card-info .card-icon i {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  border-radius: 50%;
  background-color: white;
  padding: 7px;
  transition: all 0.5s;
}
#shop-down .down .products-down .card-info .card-icon i:hover {
  background-color: red;
  color: white;
}
#shop-down .down .products-down .card-info .card-icon a {
  color: black;
}
#shop-down .down .products-down .card-info .transforms {
  transform: translate(0px, 0px);
}
#shop-down .down .products-down .card-info .card-sale {
  position: absolute;
  top: 7px;
  left: 11px;
  z-index: 1000;
}
#shop-down .down .products-down .card-info .card-sale span {
  padding: 3px 12px;
  background-color: white;
  font-size: 13px;
  font-weight: 700;
  color: rgb(14, 209, 14);
}
#shop-down .down .products-down .card-info .card-content {
  margin-top: 10px;
}
#shop-down .down .products-down .card-info .card-content i {
  color: yellow;
  font-size: 12px;
}
#shop-down .down .products-down .card-info .card-content span {
  font-weight: 700;
  font-size: 12px;
  margin-left: 10px;
}
#shop-down .down .products-down .card-info .card-content a {
  display: block;
  font-size: 15px;
  color: black;
  margin: 10px 0;
  font-weight: 500;
}
#shop-down .down .products-down .card-info .card-content h6 {
  font-weight: 800px;
}

.boxs {
  position: fixed;
  z-index: 1002;
  left: 140px;
  top: 40px;
  width: 80%;
  height: 90%;
  background-color: white;
  padding: 50px 40px;
}
.boxs .image {
  width: 66%;
  margin-left: 60px;
}
.boxs .image img {
  width: 100%;
}
.boxs .text-all {
  width: 100%;
}
.boxs .text-all h1 {
  font-size: 1.75rem;
  margin-bottom: 10px;
}
.boxs .text-all .stock {
  margin-bottom: 10px;
}
.boxs .text-all .stock span {
  color: green;
  padding: 5px 10px;
  background-color: rgba(0, 0, 0, 0.045);
  font-size: 14px;
  font-weight: 600;
}
.boxs .text-all .card-content {
  font-size: 12px;
}
.boxs .text-all .card-content i {
  color: yellow;
}
.boxs .text-all .card-content span {
  margin-left: 10px;
  font-weight: 700;
}
.boxs .text-all .card-content h6 {
  font-size: 20px;
  font-weight: 400;
  margin: 15px 0;
}
.boxs .text-all .card-content p {
  font-size: 0.75rem;
}
.boxs .text-all .product-size span {
  color: black;
  padding: 7px 30px;
  line-height: 43px;
  border: 1px solid rgba(0, 0, 0, 0.259);
}
.boxs .text-all .add {
  margin-top: 20px;
}
.boxs .text-all .add .icons-add {
  padding: 7px 10px;
  border: 1px solid rgba(0, 0, 0, 0.259);
}
.boxs .text-all .add .icons-add span {
  margin: 0 15px;
}
.boxs .text-all .add .icons-add i {
  font-size: 14px;
}
.boxs .text-all .add .add-btn {
  width: 75%;
  margin-left: 5px;
}
.boxs .text-all .add .add-btn button {
  width: 100%;
  padding: 7px 0;
  color: white;
  background-color: black;
}
.boxs .text-all .guide {
  margin: 20px 0;
}
.boxs .text-all .guide .guide-all {
  margin-right: 30px;
}
.boxs .text-all .guide .guide-all i {
  margin-right: 5px;
}
.boxs .text-all .guide .guide-all span {
  font-size: 14px;
}
.boxs .text-all .tags span {
  color: rgba(0, 0, 0, 0.26);
}
.boxs .text-all .tags a {
  color: black;
  transition: all 0.5s;
}
.boxs .text-all .tags a:hover {
  color: red;
}
.boxs .close {
  position: absolute;
  top: 7px;
  right: 7px;
  font-size: 23px;
  color: red;
  cursor: pointer;
}

footer .footer-top {
  padding: 4rem 0;
  background-color: black;
}
footer .footer-top .email-info h2 {
  color: white;
}
footer .footer-top .email-info h6 {
  color: rgba(255, 255, 255, 0.39);
  margin-bottom: 30px;
}
footer .footer-top .email-info p {
  margin-top: 15px;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.39);
}
footer .footer-top .email-info .email-subs {
  border: 1px solid white;
  width: 82%;
}
footer .footer-top .email-info .email-subs input {
  width: 70%;
  height: 50px;
  border: none;
  outline: none;
}
footer .footer-top .email-info .email-subs button {
  padding: 12px 40px;
  color: white;
  background-color: black;
  border: none;
  text-align: center;
}
footer .footer-middle {
  border-bottom: 1px solid rgba(0, 0, 0, 0.295);
  height: 225px;
}
footer .footer-middle .middle-l img {
  width: 50%;
}
footer .footer-middle .middle-l p {
  font-size: 14px;
  margin: 15px 0;
}
footer .footer-middle .middle-l h6 {
  font-size: 14px;
  font-weight: 400;
}
footer .footer-middle .middle-r {
  justify-content: space-evenly;
}
footer .footer-middle .middle-r a {
  display: block;
  margin-bottom: 7px;
  color: black;
  font-size: 14px;
}
footer .footer-middle .middle-r h6 {
  margin-bottom: 20px;
}
footer .footer-bottom {
  margin: 3rem 0;
}
footer .footer-bottom .bottom-l p {
  font-size: 13px;
  margin: 3px 0 0;
}
footer .footer-bottom .bottom-r {
  text-align: end;
}
footer .footer-bottom .bottom-r a {
  color: black;
  font-size: 13px;
  margin-left: 13px;
}/*# sourceMappingURL=product-detail.css.map */